<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb968062426606390</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>968062426606390</string>
	<key>FacebookDisplayName</key>
	<string>Blaclist</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>FontAwesome.ttf</string>
		<string>foundation-icons.ttf</string>
		<string>ionicons.ttf</string>
		<string>Material-Design-Iconic-Font.ttf</string>
		<string>octicons.ttf</string>
		<string>zocial-regular-webfont.ttf</string>
		<string>FontAwesome.otf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>BebasNeue Regular.ttf</string>
		<string>BebasNeue Light.ttf</string>
		<string>BebasNeue Book.ttf</string>
		<string>BebasNeue Bold.ttf</string>
		<string>BebasNeue Thin.ttf</string>
		<string>SF-Compact-Text-Medium.otf</string>
		<string>SF-Compact-Display-Black.otf</string>
		<string>SF-Compact-Display-Bold.otf</string>
		<string>SF-Compact-Display-Heavy.otf</string>
		<string>SF-Compact-Display-Light.otf</string>
		<string>SF-Compact-Display-Medium.otf</string>
		<string>SF-Compact-Display-Regular.otf</string>
		<string>SF-Compact-Display-Semibold.otf</string>
		<string>SF-Compact-Display-Thin.otf</string>
		<string>SF-Compact-Display-Ultralight.otf</string>
		<string>SF-Compact-Text-Bold.otf</string>
		<string>SF-Compact-Text-BoldItalic.otf</string>
		<string>SF-Compact-Text-Heavy.otf</string>
		<string>SF-Compact-Text-HeavyItalic.otf</string>
		<string>SF-Compact-Text-Italic.otf</string>
		<string>SF-Compact-Text-Light.otf</string>
		<string>SF-Compact-Text-LightItalic.otf</string>
		<string>SF-Compact-Text-MediumItalic.otf</string>
		<string>SF-Compact-Text-Regular.otf</string>
		<string>SF-Compact-Text-SemiboldItalic.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
